@import url('https://fonts.googleapis.com/css2?family=Caprasimo&display=swap');

body {
    font-family: 'Caprasimo';
}

html {
    background: #FEFFE4;
}

h1 {
    text-shadow: 1px 3px;
    text-align: center;
}

form {
    text-align: center;
    background: #e4e4e4;
    height: 180px;
    border-radius: 12px;
}

li{
    text-align: center;
}
input {
    margin: 15px;
}