@import url('https://fonts.googleapis.com/css2?family=Caprasimo&display=swap');

body {
    margin: 0px;
    font-family: 'Caprasimo';
    text-align: center;
}

html {
    background: #FEFFE4;
}

h1 {
    margin: 50px;
}

h2 {
    margin: 20px;
}

.box-form {
    width: 25rem;
    height: 439px;
    border-radius: 12px;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin: auto;
    background: #FFF;
}

label {
    font-size: 16px;
    margin-right: 220px;
}

input {
    width: 304px;
    height: 34px;
    margin: 18px;
    border-radius: 4px;
    border: 1px solid #000; 
    background: #FEFFE4;
}

button {
    width: 167px;
    height: 46px;
    margin: 19px;
    border-radius: 4px;
    font-size: 24px;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background: #48A4FA;
    color: #FFF;
}

#btcancelar :disabled {
    width: 118px;
    height: 46px;
    background: #F59999;
    color: #444;
}

p {
    width: 243px;
    height: 38px;
    font-size: 24px;
}


ul {
    width: 1810px;
    height: 43px;
    border-bottom: 1px solid #000000;
    margin: auto;
}

ul:nth-child(odd) {
    background: #FFF;
}

ul:nth-child(even) {
    background: #FFF1C1;
}

li {
    font-size: 16px;
    display: contents;
    line-height: normal;
}